// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$btn-border-radius: 8px;

$primary-solar: #FFBE10;
// $btn-primary-bg: $primary;
// $btn-primary-border: $primary;