// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$btn-border-radius: 8px;

// Btn Solar-Center
$solar: #FFBE10;
$btn-primary-bg: $solar;
$btn-primary-border: $solar;

$font-size-sm:                ($font-size-base * .875) !default;

$border-radius:               .3125rem !default;

$font-size-ms:                ($font-size-base * .8125) !default;



// VARIABLES CARTZILLA:

//
// Variables
// --------------------------------------------------
$prefix:                      cz- !default;


//== Colors
//
// Gray and brand colors to use across the Theme.

// Grayscale
$white:                 #fff !default;
$gray-100:              #f6f9fc !default;
$gray-200:              #f3f5f9 !default;
$gray-300:              #e3e9ef !default;
$gray-400:              #dae1e7 !default;
$gray-500:              #aeb4be !default;
$gray-600:              #7d879c !default;
$gray-700:            	#4b566b !default;
$gray-800:              #373f50 !default;
$gray-900:              #2b3445 !default;
$black:                 #000 !default;

// Brand colors
$primary:               #fe696a !default;
// $primary:               #FFBE10 !default;
$accent:                #4e54c8 !default;
$secondary:             $gray-200 !default;
$info:		              #69b3fe !default;
$success:               #42d697 !default;
$warning:               #fea569 !default;
$danger:                #f34770 !default;
$light:                 $white !default;
$dark:                  $gray-800 !default;

// Adding new color to default Bootstrap's $theme-colors map
$theme-colors: (
  'primary':    $primary,
  'accent':     $accent,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


// Options
//
// Modifying Bootstrap global options

$enable-shadows:          true !default;
$enable-negative-margins: true !default;
$enable-smooth-scroll:    false !default;


// Spacing

$spacer: 1rem !default;
$grid-gutter-width: 1.875rem !default;

// Modifying default Bootstrap's $spacers map
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: ($spacer * 10),
  'grid-gutter': $grid-gutter-width
) !default;


// Body

$body-color:            $gray-700 !default;