// Navbar

$navbar-padding-y:                    $spacer * .75 !default;
$navbar-nav-link-padding-y:           1rem !default;
$navbar-nav-link-padding-x:           1.125rem !default;

$navbar-brand-padding-y:              $spacer * .625 !default;
$navbar-brand-font-size:              $h3-font-size !default;
$navbar-brand-font-weight:            $font-weight-medium !default;

$navbar-toggler-padding-y:            .75rem !default;
$navbar-toggler-padding-x:            .75rem !default;
$navbar-toggler-font-size:            $font-size-base !default;
$navbar-toggler-border-radius:        0 !default;



$navbar-dropdown-min-width:           12.5rem !default;
$navbar-mega-dropdown-column-width:   15rem !default;

$navbar-light-color:                  $gray-700 !default;
$navbar-light-hover-color:            var(--#{$prefix}primary) !default;
$navbar-light-active-color:           var(--#{$prefix}primary) !default;
$navbar-light-disabled-color:         $gray-600 !default;
$navbar-light-toggler-border-color:   transparent !default;
$navbar-light-brand-color:            $gray-800 !default;
$navbar-light-brand-hover-color:      $navbar-light-brand-color !default;

$navbar-dark-color:                   rgba($white, .65) !default;
$navbar-dark-hover-color:             $white !default;
$navbar-dark-active-color:            $white !default;
$navbar-dark-disabled-color:          rgba($white, .35) !default;
$navbar-dark-toggler-border-color:    transparent !default;
$navbar-dark-brand-color:             $white !default;
$navbar-dark-brand-hover-color:       $navbar-dark-brand-color !default;

$navbar-tool-transition:              color .25s ease-in-out !default;
$navbar-tool-icon-box-size:           2.875rem !default;
$navbar-tool-icon-font-size:          1.25rem !default;
$navbar-tool-label-size:              1.25rem !default;
$navbar-tool-label-bg:                var(--#{$prefix}primary) !default;
$navbar-tool-label-color:             $white !default;
$navbar-tool-label-font-size:         $font-size-xs !default;
$navbar-tool-label-font-weight:       $font-weight-medium !default;
$navbar-tool-text-font-size:          $font-size-sm !default;        

$navbar-light-tool-color:             $gray-700 !default;
$navbar-light-tool-hover-color:       $gray-900 !default;
$navbar-light-tool-text-small-color:  $gray-600 !default;

$navbar-dark-tool-color:              $white !default;
$navbar-dark-tool-hover-color:        $white !default;
$navbar-dark-tool-text-small-color:   rgba($white, .5) !default;

$navbar-stuck-box-shadow:             $box-shadow !default;


// Topbar

$topbar-padding-y:                    .625rem !default;
$topbar-font-size:                    $font-size-sm !default;

$topbar-light-color:                  rgba($gray-700, .9) !default;
$topbar-light-muted-color:            rgba($gray-600, .9) !default;
$topbar-light-hover-color:            $gray-800 !default;
$topbar-light-active-color:           $gray-800 !default;
$topbar-light-icon-color:             var(--#{$prefix}primary) !default;

$topbar-dark-color:                   rgba($white, .65) !default;
$topbar-dark-muted-color:             rgba($white, .45) !default;
$topbar-dark-hover-color:             $white !default;
$topbar-dark-active-color:            $white !default;
$topbar-dark-icon-color:              var(--#{$prefix}primary) !default;



// Carousel

$carousel-control-size:               2.75rem !default;
$carousel-control-size-lg:            3.25rem !default;
$carousel-control-size-sm:            2.25rem !default;
$carousel-control-border-width:       $border-width !default;
$carousel-control-border-color:       $border-color !default;
$carousel-control-bg:                 $white !default;

$carousel-dot-size:                   .3125rem !default;
$carousel-dot-dark-color:             lighten($gray-500, 3%) !default;
$carousel-dot-light-color:            $white !default;
$carousel-dot-active-color:           var(--#{$prefix}primary) !default;
