// Lists

$list-style-color:      var(--#{$prefix}accent) !default;


// Links

$link-color:              $primary !default;
$link-decoration:         none !default;
$link-hover-color:        darken($link-color, 10%) !default;
$link-hover-decoration:   none !default;
$link-transition:         color .25s ease-in-out !default;
$link-shade-percentage:   0% !default;


// Grid breakpoints
//
// Modifying default Bootstrap's $grid-breakpoints map
$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1400px
) !default;


// Grid containers
//
// Modifying default Bootstrap's $container-max-widths map (max-width of .container)
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1260px
) !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px !default;
$border-color:                $gray-300 !default;
$border-light-color:          rgba($white, .12) !default;

$border-radius:               .3125rem !default;
$border-radius-lg:            .4375rem !default;
$border-radius-sm:            .25rem !default;

$box-shadow:                  0 .25rem 0.5625rem -.0625rem rgba($black, .03), 0 .275rem 1.25rem -.0625rem rgba($black, .05) !default;
$box-shadow-lg:               0 .3rem 1.525rem -.375rem rgba($black, .1) !default;
$box-shadow-sm:               0 .125rem 0.3rem -.0625rem rgba($black, .03), 0 .275rem .75rem -.0625rem rgba($black, .06) !default;
$box-shadow-inset:            inset 0 1px 2px transparent !default;


$caret-width:                 .275rem !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$path-to-fonts:               'https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap' !default;

$font-family-sans-serif:      'Rubik', sans-serif !default;
$headings-color:              $gray-800 !default;

$font-size-base:              1rem !default;
$font-size-xl:                ($font-size-base * 1.625) !default;
$font-size-lg:                ($font-size-base * 1.125) !default;
$font-size-md:                ($font-size-base * .9375) !default;
$font-size-sm:                ($font-size-base * .875) !default;
$font-size-ms:                ($font-size-base * .8125) !default;
$font-size-xs:                ($font-size-base * .75) !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base * 1.0625 !default;

// Modifying default Bootstrap's $font-sizes map
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  'xl':   $font-size-xl,
  'lg':   $font-size-lg,
  'base': $font-size-base,
  'md':   $font-size-md,
  'sm':   $font-size-sm,
  'ms':   $font-size-ms,
  'xs':   $font-size-xs
) !default;

$font-weight-medium:          500 !default;

$headings-margin-bottom:      ($spacer * .75) !default;
$headings-font-weight:        $font-weight-medium !default;

$line-height-base:            1.5 !default;
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  404: 10rem
) !default;

$display-font-weight:         $headings-font-weight !default;
$display-line-height:         1 !default;

$small-font-size:             .8em !default;


$hr-margin-y:                 0 !default;
$hr-color:                    $border-color !default;
$hr-opacity:                  1 !default;

$text-shadow:                 0 .0625rem rgba($black, .5) !default;

$blockquote-font-size:        $font-size-base !default;
$blockquote-footer-font-size: $font-size-sm !default;


// Icons

$icons-font-family:           'cartzilla-icons' !default;
$icons-font-path:             '../fonts' !default;


// Tables

$table-cell-padding-y:        .75rem !default;
$table-cell-padding-x:        .75rem !default;
$table-cell-padding-y-sm:     .375rem !default;
$table-cell-padding-x-sm:     .375rem !default;

$table-dark-color:            rgba($white, .75) !default;

$table-th-color:              $headings-color !default;
$table-th-font-weight:        $headings-font-weight !default;

$table-striped-bg-factor:     .0375 !default;
$table-active-bg-factor:      .05 !default;
$table-hover-bg-factor:       .05 !default;


$table-bg-scale:              -90% !default;

$input-btn-font-size:               ($font-size-base * .9375) !default;
$input-btn-font-size-sm:            ($font-size-base * .8125) !default;
$input-btn-font-size-lg:            ($font-size-base * 1.0625) !default;


// Buttons

$btn-padding-x:                     1.375rem !default;
$btn-padding-x-sm:                  1rem !default;
$btn-padding-x-lg:                  1.5rem !default;
$btn-white-space:                   nowrap !default;

$btn-color:                         $white !default;
$btn-font-weight:                   normal !default;
$btn-box-shadow:                    unset !default;

$btn-icon-size:                     ($font-size-base * .9375) !default;

$btn-transition:                    color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out !default;

$btn-focus-box-shadow:              unset !default;
$btn-active-box-shadow:             unset !default;

// Forms

$form-text-margin-top:              .375rem !default;
$form-text-font-size:               $font-size-xs !default;

$form-label-margin-bottom:          .375rem !default;
$form-label-font-size:              $font-size-sm !default;
$form-label-font-weight:            $font-weight-medium !default;
$form-label-color:                  $headings-color !default;

$input-border-color:                $gray-400 !default;
$input-disabled-bg:                 $gray-100 !default;
$input-focus-border-color:          rgba(var(--#{$prefix}primary-rgb), .35) !default;
$input-focus-box-shadow:            0 .375rem .625rem -.3125rem rgba(var(--#{$prefix}primary-rgb), .15) !default;

// Checkboxes and radios
$form-check-input-active-filter:    none !default;
$form-check-label-font-size:        $font-size-sm !default;
$form-check-input-border:           1px solid darken($gray-400, 8%) !default;
$form-check-input-border-radius:    .3125em !default;
$form-check-input-disabled-opacity: .6 !default;

// Range
$form-range-thumb-bg:               var(--#{$prefix}primary) !default;
$form-range-thumb-active-bg:        var(--#{$prefix}primary) !default;

// Switches
$form-switch-color:                 $white !default;
$form-switch-width:                 2.1875rem !default;
$form-switch-height:                1.25rem !default;
$form-switch-padding-start:         $form-switch-width + .5rem !default;
$form-switch-focus-color:           $form-switch-color !default;
$form-switch-bg:                    darken($input-border-color, 3%) !default;
$form-switch-checked-bg:            var(--#{$prefix}primary) !default;
$form-switch-checked-box-shadow:    0 .375rem .875rem -.3rem $form-switch-checked-bg !default;

// custom options: Size and Color
$form-option-size:                  2rem !default;
$form-option-padding-x:             .375rem !default;
$form-option-border-width:          $border-width !default;
$form-option-border-color:          $border-color !default;
$form-option-border-radius:         $border-radius-sm !default;
$form-option-hover-border-color:    darken($border-color, 8%) !default;
$form-option-active-border-color:   var(--#{$prefix}primary) !default;
$form-option-font-size:             $font-size-xs !default;
$form-option-font-weight:           normal !default;
$form-option-color:                 $gray-700 !default;
$form-option-hover-color:           $gray-800 !default;
$form-option-active-color:          var(--#{$prefix}primary) !default;
$form-option-transition:            color .2s ease-in-out, border-color .2s ease-in-out !default;


$input-group-addon-bg:              $white !default;
$input-group-icon-size:             $font-size-base !default;

$form-file-button-color:            $gray-800 !default;
$form-file-button-bg:               $gray-100 !default;
$form-file-button-hover-bg:         $form-file-button-bg !default;

$file-drop-area-preview-width:      16rem !default;

// Navs

$nav-link-padding-y:                      .75rem !default;
$nav-link-padding-x:                      1.25rem !default;
$nav-link-font-weight:                    normal !default;
$nav-link-color:                          $gray-700 !default;
$nav-link-hover-color:                    var(--#{$prefix}primary) !default;
$nav-link-active-color:                   var(--#{$prefix}primary) !default;
$nav-link-light-color:                    rgba($white, .65) !default;
$nav-link-light-hover-color:              $white !default;
$nav-link-light-active-color:             $white !default;
$nav-link-transition:                     color .25s ease-in-out, background-color .25s ease-in-out, box-shadow .25s ease-in-out, border-color .25s ease-in-out !default;

// Tabs
$nav-tabs-border-radius:                  0 !default;
$nav-tabs-link-hover-border-color:        transparent !default; 
$nav-tabs-link-active-color:              $nav-link-active-color !default;
$nav-tabs-link-active-bg:                 transparent !default;
$nav-tabs-link-active-border-color:       $nav-tabs-link-active-color !default;

// Cards

$card-spacer-y:                       $spacer * 1.25 !default;
$card-spacer-x:                       $spacer * 1.25 !default;
$card-title-spacer-y:                 $spacer * .75 !default;
$card-border-color:                   rgba($black, .085) !default;
$card-border-radius:                  $border-radius-lg !default;
$card-cap-bg:                         transparent !default;

// Shop

// Product card
$product-card-hover-box-shadow:       $box-shadow-lg !default;
$product-card-transition:             all .15s ease-in-out !default;

// Product list
$product-list-thumb-width:            15rem !default;

// Alternative product card
$product-card-thumb-overlay-bg:       rgba($gray-900, .5) !default;

// Product title
$product-title-link-color:            $headings-color !default;
$product-title-link-hover-color:      var(--#{$prefix}primary) !default;
$product-title-link-transition:       color .25s ease-in-out !default;

// Product meta
$product-meta-color:                  $gray-600 !default;
$product-meta-hover-color:            $gray-700 !default;
$product-meta-transition:             color .25s ease-in-out !default;

// Wishlist button
$btn-wishlist-size:                   2.75rem !default;
$btn-wishlist-size-sm:                2rem !default;
$btn-wishlist-font-size:              1.0625rem !default;
$btn-wishlist-font-size-sm:           .8125rem !default;
$btn-wishlist-bg:                     $gray-200 !default;
$btn-wishlist-color:                  $gray-800 !default;
$btn-wishlist-hover-color:            var(--#{$prefix}primary) !default;

// Star rating
$star-size:                           .75rem !default;
$star-color:                          $gray-500 !default;
$star-active-color:                   $warning !default;


// Product gallery
$product-gallery-thumb-size:                5rem !default;
$product-gallery-thumb-spacing:             .625rem !default;
$product-gallery-thumb-border-width:        $border-width !default;
$product-gallery-thumb-border-color:        $border-color !default;
$product-gallery-thumb-color:               $gray-700 !default;
$product-gallery-thumb-font-size:           $font-size-sm !default;
$product-gallery-thumb-border-radius:       $border-radius !default;
$product-gallery-thumb-transition:          border-color .2s ease-in-out !default;
$product-gallery-thumb-hover-border-color:  darken($border-color, 8%) !default;
$product-gallery-thumb-active-border-color: var(--#{$prefix}primary) !default;

$product-gallery-preview-transition:        opacity .3s ease-in-out !default;


// Navbar

$navbar-padding-y:                    $spacer * .75 !default;
$navbar-nav-link-padding-y:           1rem !default;
$navbar-nav-link-padding-x:           1.125rem !default;

$navbar-brand-padding-y:              $spacer * .625 !default;
$navbar-brand-font-size:              $h3-font-size !default;
$navbar-brand-font-weight:            $font-weight-medium !default;

$navbar-toggler-padding-y:            .75rem !default;
$navbar-toggler-padding-x:            .75rem !default;
$navbar-toggler-font-size:            $font-size-base !default;
$navbar-toggler-border-radius:        0 !default;



$navbar-dropdown-min-width:           12.5rem !default;
$navbar-mega-dropdown-column-width:   15rem !default;

$navbar-light-color:                  $gray-700 !default;
$navbar-light-hover-color:            var(--#{$prefix}primary) !default;
$navbar-light-active-color:           var(--#{$prefix}primary) !default;
$navbar-light-disabled-color:         $gray-600 !default;
$navbar-light-toggler-border-color:   transparent !default;
$navbar-light-brand-color:            $gray-800 !default;
$navbar-light-brand-hover-color:      $navbar-light-brand-color !default;

$navbar-dark-color:                   rgba($white, .65) !default;
$navbar-dark-hover-color:             $white !default;
$navbar-dark-active-color:            $white !default;
$navbar-dark-disabled-color:          rgba($white, .35) !default;
$navbar-dark-toggler-border-color:    transparent !default;
$navbar-dark-brand-color:             $white !default;
$navbar-dark-brand-hover-color:       $navbar-dark-brand-color !default;

$navbar-tool-transition:              color .25s ease-in-out !default;
$navbar-tool-icon-box-size:           2.875rem !default;
$navbar-tool-icon-font-size:          1.25rem !default;
$navbar-tool-label-size:              1.25rem !default;
$navbar-tool-label-bg:                var(--#{$prefix}primary) !default;
$navbar-tool-label-color:             $white !default;
$navbar-tool-label-font-size:         $font-size-xs !default;
$navbar-tool-label-font-weight:       $font-weight-medium !default;
$navbar-tool-text-font-size:          $font-size-sm !default;        

$navbar-light-tool-color:             $gray-700 !default;
$navbar-light-tool-hover-color:       $gray-900 !default;
$navbar-light-tool-text-small-color:  $gray-600 !default;

$navbar-dark-tool-color:              $white !default;
$navbar-dark-tool-hover-color:        $white !default;
$navbar-dark-tool-text-small-color:   rgba($white, .5) !default;

$navbar-stuck-box-shadow:             $box-shadow !default;


// Topbar

$topbar-padding-y:                    .625rem !default;
$topbar-font-size:                    $font-size-sm !default;

$topbar-light-color:                  rgba($gray-700, .9) !default;
$topbar-light-muted-color:            rgba($gray-600, .9) !default;
$topbar-light-hover-color:            $gray-800 !default;
$topbar-light-active-color:           $gray-800 !default;
$topbar-light-icon-color:             var(--#{$prefix}primary) !default;

$topbar-dark-color:                   rgba($white, .65) !default;
$topbar-dark-muted-color:             rgba($white, .45) !default;
$topbar-dark-hover-color:             $white !default;
$topbar-dark-active-color:            $white !default;
$topbar-dark-icon-color:              var(--#{$prefix}primary) !default;


// Carousel

$carousel-control-size:               2.75rem !default;
$carousel-control-size-lg:            3.25rem !default;
$carousel-control-size-sm:            2.25rem !default;
$carousel-control-border-width:       $border-width !default;
$carousel-control-border-color:       $border-color !default;
$carousel-control-bg:                 $white !default;

$carousel-dot-size:                   .3125rem !default;
$carousel-dot-dark-color:             lighten($gray-500, 3%) !default;
$carousel-dot-light-color:            $white !default;
$carousel-dot-active-color:           var(--#{$prefix}primary) !default;


// Scroll to top button
$btn-scroll-top-size:               2.75rem !default;
$btn-scroll-top-icon-font-size:     $font-size-sm !default;
$btn-scroll-top-bg:                 rgba($gray-900, .25) !default;
$btn-scroll-top-hover-bg:           rgba($gray-900, .5) !default;
$btn-scroll-top-color:              $white !default;
$btn-scroll-top-hover-color:        $white !default;
$btn-scroll-top-transition:         right 400ms cubic-bezier(.68, -.55, .265, 1.55), opacity .3s, background-color .25s ease-in-out !default;


// Z-index master list of Cartzilla custom components

$zindex-btn-scroll-top:             1025 !default;
$zindex-toolbar:                    1026 !default;
$zindex-toast:                      1040 !default;
$zindex-offcanvas:                  1080 !default;
$zindex-lightbox-backdrop:          1100 !default;
$zindex-lightbox-content:           1110 !default;

// Market buttons
$btn-market-padding-y:              .375rem !default;
$btn-market-padding-x:              .875rem !default;
$btn-market-border-radius:          $border-radius-lg !default;
$btn-market-bg:                     $gray-900 !default;
$btn-market-title-color:            $white !default;
$btn-market-title-font-size:        $font-size-base !default;
$btn-market-subtitle-color:         rgba($white, .6) !default;
$btn-market-subtitle-font-size:     ($font-size-base * .6875) !default;
$btn-market-icon-size:              1.5rem !default;

// Video button
$btn-video-size:                      4.5rem !default;
$btn-video-font-size:                 .75rem !default;
$btn-video-bg:                        $white !default;
$btn-video-color:                     $gray-700 !default;
$btn-video-box-shadow:                0 .375rem 1rem -.25rem rgba($gray-900, .2) !default;
$btn-video-transition:                background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out !default;
$btn-video-hover-bg:                  var(--#{$prefix}primary) !default;
$btn-video-hover-color:               $white !default;
$btn-video-hover-box-shadow:          0 .5rem 1.125rem -.5rem rgba(var(--#{$prefix}primary-rgb), .9) !default;