// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.btn-primary {
    color: #ffffff;
    &:hover {
        color: #ffffff;  // Esto mantendrá el color del texto blanco en hover
    }

    &:hover,
    &:active,
    &.active,
    &:focus {
        color: #ffffff;  // Esto mantendrá el color del texto blanco en hover
    }
}
