// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// iconos
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import 'product-card.scss';

.btn-solar {
    @extend .btn;

    background-color: $solar;
    border-color: $solar;
    // color: #ffffff;

    &:hover,
    &:active,
    &.active,
    &:focus {
        // color: #ffffff;
        background-color: darken(#FFBE10, 10%);
        border-color: darken(#FFBE10, 10%);
    }

    &:disabled,
    &.disabled {
        background-color: lighten(#FFBE10, 20%);
        border-color: lighten(#FFBE10, 20%);
    }

}