// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// iconos
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Variables
@import 'variables';
@import 'variables-base';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


@import 'components/widgets';
@import 'product-card';
@import 'components/navbar';
@import 'components/shop';
@import 'components/steps';
@import 'components/buttons';
@import 'components/nav';

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.girando {
    animation: girar 6s linear infinite !important;
}

.btn-solar {
    @extend .btn;

    background-color: $solar;
    border-color: $solar;
    // color: #ffffff;

    &:hover,
    &:active,
    &.active,
    &:focus {
        // color: #ffffff;
        background-color: darken(#FFBE10, 10%);
        border-color: darken(#FFBE10, 10%);
    }

    &:disabled,
    &.disabled {
        background-color: lighten(#FFBE10, 20%);
        border-color: lighten(#FFBE10, 20%);
    }

}
